
.section {}
.root {}
.label {}
.required {}
.description {}	
.error {}
.inputWrapper {
    border: 0;
    background-color:transparent; /* Background for danger inputs */
}

.input {
    border-radius: 8px;
    padding: 8px 10px;
    transition: background-color 0.2s ease, border-color 0.2s ease;
    border:0;
}

/* Danger Variant: For critical actions or warnings */
.inputWrapper[data-variant='danger'] {
    background-color: var(--color-danger-background); /* Background for danger inputs */
    color: var(--color-text-primary); /* Light text for contrast */
    border: 1px solid var(--color-danger-border); /* Border color for danger inputs */

}

.inputWrapper[data-variant='danger']:hover {
    background-color: var(--color-hover-danger); /* Darker shade of alert color on hover */
}

/* Default Variant: Neutral style for regular inputs */
.inputWrapper[data-variant='default'] {
    background-color: var(--color-default-background); /* Background for default inputs */
    color: var(--color-text-primary); /* Light text for good contrast */
   /* border: 1px solid var(--color-default-border); /* Border color for default inputs */
}

.inputWrapper[data-variant='default']:hover {
    background-color: var(--color-hover-default); /* Darker background on hover */
}

/* Disabled Variant: For inputs that are not interactive */
.inputWrapper[data-variant='disabled'] {
    background-color: var(--color-disabled-background); /* Background for disabled inputs */
    color: var(--color-disabled-text); /* Text color for disabled inputs */
    border: 1px solid var(--color-disabled-border); /* /* Border color for disabled inputs */
    cursor: not-allowed; /* Indicates non-interactive state */
    opacity: 0.6; /* Slightly faded appearance */
}

.inputWrapper[data-variant='disabled']:hover {
    background-color: var(--color-disabled-background); /* No change on hover */
}