.root {
	color: var(--color-semantic-text-primary);
}

.radio {
	border: 1px solid var(--color-semantic-border-medium);
	border-radius: var(--border-radius-full);
	background-color: var(--color-semantic-background-primary);
}

.radio:checked {
	background-color: var(--color-semantic-brand-primary);
	border-color: var(--color-semantic-brand-primary);
}

.label {
	color: var(--color-semantic-text-secondary);
}
