.root {
	color: var(--color-semantic-text-primary);
}

.input {
	background-color: var(--color-semantic-interactive-input-background);
	border: 1px solid var(--color-semantic-interactive-input-border);
	color: var(--color-semantic-text-primary);
	border-radius: var(--border-radius-md);
}

.input:hover {
	border-color: var(--color-semantic-interactive-input-border-hover);
}

.input:focus-visible {
	outline: none;
	border-color: var(--color-semantic-interactive-input-border-focus);
	box-shadow: 0 0 0 2px var(--color-semantic-utility-focus-ring);
}

.dropdown {
	background-color: var(--color-semantic-surface-dropdown);
	border: 1px solid var(--color-semantic-border-divider);
	box-shadow: var(--color-semantic-shadow-md);
}

.item {
	color: var(--color-semantic-text-primary);
}

.item:hover {
	background-color: var(--color-semantic-background-secondary);
}
